@font-face{
  font-family: 'CalibreRegular';
  src: url('../fonts/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-Regular.woff') format('woff') /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'CalibreSemibold';
  src: url('../fonts/CalibreWeb-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-Semibold.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-Semibold.woff') format('woff') /* Pretty Modern Browsers */
}
