$red = #ee3a49
$black = #1c1c1c
@import "./fonts.styl";
@import 's-grid-settings'
gutter = 24px
@import 's-grid-functions'
#app
  box-sizing: border-box
  background: $red
  height: 100%
  width: 100%
  position:absolute
  padding: 40px 0
  font-family: 'CalibreRegular'
.reactor
  grid()
  max-width: 1340px
  height: 100%
  margin: 0 auto
.content
  position:relative
  height: 100%
  width: 100%
  .logo
    cell(1,1)
    height: 300px
    background: url("../images/logo_white.svg") no-repeat
    background-size: 100% auto
  h1
    text-align:center
    font-size:24vw;
    margin: 0
    font-family: 'CalibreSemibold'
    font-weight: normal
    @media screen and (max-width: 700px) {
      font-size:26vw;
    }
  .line
    float:left
    width: 100%
    height: 1px
  .text
    position:absolute
    left 50%
    bottom: 0
    max-width: 500px
  h2

    font-size: 24px
    line-height: 34px
    font-family: 'CalibreRegular'
    font-weight: normal
    @media screen and (max-width: 700px) {
      float:left
      width: 100%
      margin-top: 50px
    }
  .copyright
    position:absolute
    bottom: 0
    left:24px
    font-size: 12px
  .contact
    width: 500px
    float:right
    font-size: 14px
    line-height: 16px
    margin-top: 35px
    @media screen and (max-width: 700px) {
      float:left
      width: 100%
    }
    b
      font-family: 'CalibreSemibold'
